@font-face {
  font-family: diablo;
  src: url(diablo_h.ttf);
}

body {
  /* background-image: url("img/d3-background.jpg"); */
  background-color: #2f2822;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
  font-family: diablo;
}

p {
  padding-top: 7%;
  font-family: monospace;
  font-size: 1.5rem;
  
}

/* Input */
.form-control {
  margin: 0 auto 1.5rem;
  width: 237px;
}



/* global div */
.calulator {
  
  text-align: center;
  color: #ffc107;
  line-height: 4;
  margin: 2% 7%;
}

/* All buttons */
.btn {
  margin: 0 1%;
  
}

/* Left and right Button */
.plus-minus {
  font-family: monospace;
  font-size: 1.5rem;
  
}
